[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
rich = "==12.2.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
commonmark = "==0.9.1"
idna = "==3.3"
six = "==1.16.0"
urllib3 = "==1.26.9"
Pygments = "==2.11.2"

[dev-packages]

[requires]
python_version = "3.10"
